<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png"
      href="{{ url_for('static', filename='favicon.png', v=2) }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Алина Трандышева. {% block lab%}{%endblock %} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
        <nav>
            <a href="{{ url_for('index') }}">Главное меню</a>
        </nav>
    </header>

    <main>
        {% block main %} {% endblock %}
    </main>

    <footer>
        &copy; Алина Трандышева, ФБИ-34, 3 курс, 2025
    </footer>
    
</body>
</html>