{% extends "base.html" %}
{% block lab %}Лабораторная работа 8{% endblock %}
{% block main %}

<h1>Cтатьи</h1>

<form method="get" action="/lab8/articles" style="margin: 10px 0;">
    <input type="text" name="q" placeholder="Поиск..." value="{{ q }}">
    <button type="submit">Найти</button>
    {% if q %}
        <a href="/lab8/articles">Сбросить</a>
    {% endif %}
</form>

{% if articles %}
    {% for a in articles %}
        <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
            <h3>{{ a.title }}</h3>
            <p>{{ a.article_text }}</p>

            <p>
                {% if a.is_public %}🌐 Публичная{% else %}🔒 Приватная{% endif %}
                {% if a.is_favorite %} • ⭐ Избранное{% endif %}
            </p>

            {% if current_user.is_authenticated and a.login_id == current_user.id %}
                <a href="/lab8/edit/{{ a.id }}">Редактировать</a>

                <form action="/lab8/delete/{{ a.id }}" method="post" style="display:inline;">
                    <button type="submit">Удалить</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>Статей не найдено.</p>
{% endif %}

{% endblock %}
